<header th:fragment="header">
    <link rel="stylesheet" href="/css/styles.css">
    <nav>
        <div class="logo">
            <a href="/"><img src="/images/logo-white.png" alt="Buy N Sell Thai"></a>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/top-spots">Top Spots</a></li>
            <li><a href="/event">Event</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/membership">Membership</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/legal">Legal</a></li>
            <li><a href="/support">Support</a></li>
        </ul>
    </nav>
</header>