<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Services - Buy N Sell Thai</title>
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <main class="content">
        <div th:fragment="content">
            <h1>Services</h1>
            <p>Our app utilizes location-based services to offer users personalized information based on their location. We can provide tailored and relevant content specific to their surroundings by accessing our users' geographical location data.</p>

            <h2>Secondhand Trading</h2>
            <p>Introducing our innovative second-hand platform, designed to make buying and selling pre-loved items easier than ever! Our service connects users with local sellers and buyers, allowing you to discover great deals on items right in your neighborhood. With a user-friendly interface, you can easily browse through categories, search for specific items, and filter results by location, ensuring you find what you need nearby. Whether you're looking to declutter your home or score a fantastic bargain, our platform promotes sustainable shopping and supports your community.</p>
            <h2>In-App Chat</h2>
            <p>Stay connected and secure with our in-app chatting room, designed specifically for our Buy & Sell Marketplace. This feature allows you to communicate directly with potential buyers or sellers in a safe environment, minimizing the risk of scams and enhancing your trading experience.</p>
            <h2>BNS PAY</h2>
            <P>Introducing Buy N Sell Pay, the seamless in-app wallet designed to make your buying and selling experience effortless and secure. Say goodbye to complicated payment processes and hello to a fast, user-friendly solution for all your transactions within our marketplace!</P>
            <h2>K-Beauty</h2>
            <p>Discover the secret to radiant skin with our exclusive selection of imported Korean skincare products and cosmetics, available right in the Buy N Sell app! Known for their innovative formulas and high-quality ingredients, our curated collection brings you the best of K-beauty to enhance your skincare routine.</p>
        </div>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
